<div class="relative h-100 mb-10 rounded-2xl bg-[url('/src/images/services/footer-bg.jpg')] bg-cover bg-center flex flex-col items-center justify-center text-center p-10">
  <h2 class="text-5xl font-bold mb-4 drop-shadow-md max-md:text-4xl text-white">
    Book your trip <span>with Us</span>
  </h2>
  <p class="text-lg opacity-80 text-white">
    Make unforgettable memories!
  </p>
</div>
