---

---

<footer class="footer">
    <div class="footer-header">
        <img src="/src/images/logo.png" alt="NHM Travels Logo" />
        <span class="footer-logo-text">nhm TRAVELS</span>
    </div>
    <div class="footer-hero">
        <h2>Book your trip <span>with Us</span></h2>
        <p>Make unforgettable memories!</p>
    </div>
    <div class="footer-content">
        <div class="footer-column">
        <h3>Phone</h3>
        <p>+98 939 659 7862</p>
        </div>
        <div class="footer-column">
        <h3>Email</h3>
        <p>support@irantourismtravels.com</p>
        </div>
        <div class="footer-column">
        <h3>Follow us on our socials!</h3>
        <div class="social-icons">
            <div class="social-icon">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                preserveAspectRatio="xMidYMid meet"
                version="1.0"
                viewBox="0.0 0.0 230.9 229.9"
                zoomAndPan="magnify"
                style="fill: rgb(255, 255, 255)"
                original_string_length="555"
                width="231px"
                height="230px"
            >
                <g id="__id7_sfy05kan">
                <path
                    d="M115.5,0C51.7,0,0,51.7,0,115.5c0,57.3,41.8,104.9,96.5,113.9v-78.3H67.1v-34.3h29.4V91.9c0-27,21.9-45.3,48.9-45.3 c12,0,19.5,1.8,19.5,1.8v28.8h-19.5c-8.1,0-14.7,6.6-14.7,14.7v24.9h31.5l-4.4,34.3h-27.1v78.8c56.5-7.5,100.1-55.9,100.1-114.4 C230.9,51.7,179.2,0,115.5,0z"
                    style="fill: inherit"
                ></path>
                </g>
            </svg>
            </div>
            <div class="social-icon">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                preserveAspectRatio="xMidYMid meet"
                version="1.0"
                viewBox="0.0 0.0 231.0 231.0"
                zoomAndPan="magnify"
                style="fill: rgb(255, 255, 255)"
                original_string_length="1092"
                width="231px"
                height="231px"
            >
                <g id="__id8_sfy05kan">
                <path
                    d="M115.5,89.9c-14.1,0-25.6,11.5-25.6,25.6c0,14.1,11.5,25.6,25.6,25.6c14.1,0,25.6-11.5,25.6-25.6 C141.1,101.4,129.6,89.9,115.5,89.9z"
                    style="fill: inherit"
                ></path>
                <path
                    d="M149.9,52.7H81.1c-15.6,0-28.4,12.7-28.4,28.4v68.8c0,15.6,12.7,28.4,28.4,28.4h68.8c15.6,0,28.4-12.7,28.4-28.4V81.1 C178.2,65.4,165.5,52.7,149.9,52.7z M115.5,154c-21.3,0-38.6-17.3-38.6-38.6c0-21.3,17.3-38.6,38.6-38.6 c21.3,0,38.6,17.3,38.6,38.6C154,136.7,136.7,154,115.5,154z M156.8,83.3c-5.1,0-9.3-4.2-9.3-9.3c0-5.1,4.2-9.3,9.3-9.3 c5.1,0,9.3,4.2,9.3,9.3C166.1,79.2,162,83.3,156.8,83.3z"
                    style="fill: inherit"
                ></path>
                <path
                    d="M115.5,0C51.7,0,0,51.7,0,115.5c0,63.8,51.7,115.5,115.5,115.5c63.8,0,115.5-51.7,115.5-115.5C230.9,51.7,179.2,0,115.5,0z M191.2,149.9c0,22.8-18.6,41.4-41.4,41.4H81.1c-22.8,0-41.4-18.6-41.4-41.4V81.1c0-22.8,18.6-41.4,41.4-41.4h68.8 c22.8,0,41.4,18.6,41.4,41.4V149.9z"
                    style="fill: inherit"
                ></path>
                </g>
            </svg>
            </div>
        </div>
        </div>
    </div>
</footer>