---
---

<section class="header">
    <div class="logo">
        <img src="/src/images/logo.png" alt="NHM Travels Logo" />
        <span class="logo-text">nhm TRAVELS</span>
    </div>
    <div class="hero-content">
        <h1 class="hero-title">Answer the call, leave everything behind.</h1>
        <div class="book-now-btn-container">
        <a href="#" class="book-now-btn">BOOK NOW →</a>
    </div>
</section>