<style>
    .offer-section {
  padding: 80px 40px;
  background-color: #fafafa;
  text-align: center;
}

.offer-section h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 15px;
  color: #333;
}

.offer-section h2 span {
  color: #007a7a;
}

.offer-section p {
  font-size: 1.1rem;
  max-width: 800px;
  margin: 0 auto 40px;
  color: #666;
}

.offer-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.offer-card {
  width: 23%;
  transition: transform 0.3s ease;
  height: 250px;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  position: relative;
  display: flex;
  align-items: end;
  align-content: end;
  justify-content: left;
}

.offer-card:hover {
  transform: translateY(-5px);
}

.offer-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.offer-card-content {
  padding: 20px;
}

.offer-card-content h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: white;
  text-align: left;
}

@media (max-width: 1200px) {
  .offer-cards {
    justify-content: center;
  }

  .offer-card {
    width: 230px;
  }
}

@media (max-width: 768px) {
  .offer-section h2 {
    font-size: 2.5rem;
  }
}
</style>

<section class="offer-section">
    <h2>What We <span>Can Offer You</span></h2>
    <p>
        Add a short description of the business and the services that you
        provide.
    </p>
    <div class="offer-cards">
        <div
        class="offer-card"
        style="background-image: url('src/images/services/staff.jpg')"
        >
        <div class="offer-card-content">
            <h3>Multilingual Staff</h3>
        </div>
        </div>
        <div
        class="offer-card"
        style="background-image: url('src/images/services/flight.jpg')"
        >
        <div class="offer-card-content">
            <h3>From arrival to departure care</h3>
        </div>
        </div>
        <div
        class="offer-card"
        style="background-image: url('/src/images/services/ticket.jpg')"
        >
        <div class="offer-card-content">
            <h3>Ticketing and Visa Services</h3>
        </div>
        </div>
        <div
        class="offer-card"
        style="background-image: url('/src/images/services/tourism.jpg')"
        >
        <div class="offer-card-content">
            <h3>Tourism services</h3>
        </div>
        </div>
    </div>
</section>