---
---

<section class="offer-section">
    <h2>What We <span>Can Offer You</span></h2>
    <p>
        Add a short description of the business and the services that you
        provide.
    </p>
    <div class="offer-cards">
        <div
        class="offer-card"
        style="background-image: url('src/images/services/staff.jpg')"
        >
        <div class="offer-card-content">
            <h3>Multilingual Staff</h3>
        </div>
        </div>
        <div
        class="offer-card"
        style="background-image: url('src/images/services/flight.jpg')"
        >
        <div class="offer-card-content">
            <h3>From arrival to departure care</h3>
        </div>
        </div>
        <div
        class="offer-card"
        style="background-image: url('/src/images/services/ticket.jpg')"
        >
        <div class="offer-card-content">
            <h3>Ticketing and Visa Services</h3>
        </div>
        </div>
        <div
        class="offer-card"
        style="background-image: url('/src/images/services/tourism.jpg')"
        >
        <div class="offer-card-content">
            <h3>Tourism services</h3>
        </div>
        </div>
    </div>
</section>