---
import ServiceCard from "./ServiceCard.astro";
import Service_1 from "../../images/services/services-1.jpg"
import Service_2 from "../../images/services/services-2.webp"
import Service_3 from "../../images/services/services-3.webp"

const services = [
  {
    image: Service_1,
    title: "Customized Services",
    description:
      "Travel with ease and confidence – from planning to arrival, our personalized services ensure a smooth, comfortable, and unforgettable experience.",
  },
  {
    image: Service_2,
    title: "Specialized Services",
    description:
      "From Nikkah ceremonies to medical tourism, we offer specialized services tailored to your purpose, with care and professionalism!",
  },
  {
    image: Service_3,
    title: "General Services",
    description:
      "Experience smooth, customized travel planning with services designed to make your journey effortless and memorable.",
  },
];
---

<section class="flex min-h-150 flex-col xl:flex-row transition-soft">
  <!-- LEFT PANEL -->
  <div class="xl:w-[35%] bg-[#e1a730] px-10 py-15 flex flex-col justify-between">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 48 48"
      class="h-13 w-13 rotate-30 fill-white"
    >
      <path d="m24 4l-15 36.59 1.41 1.41 13.59-6 13.59 6 1.41-1.41z" />
    </svg>

    <div>
      <h2 class="text-5xl font-bold leading-tight text-black">
        Leave<br />
        <em class="italic">it to us!</em>
      </h2>

      <p class="mt-5 text-lg text-black/90">
        NHM Travels offers tailored, spiritually enriching travel experiences
        across Iran, helping you explore sacred sites, natural beauty, and rich
        cultural heritage with ease and authenticity.
      </p>
    </div>
  </div>

  <!-- RIGHT PANEL -->
  <div
    class="xl:w-[65%] bg-[#007a7a] px-10 py-15 flex flex-col gap-8 xl:flex-row xl:justify-between">
    {services.map((service) => (
      <ServiceCard {...service} />
    ))}
  </div>
</section>
