---
import TestimonialCard from "./TestimonialCard.astro";

const testimonials = [
  {
    text:
      "NHM Travels made our ziyarat trip smooth, respectful, and deeply spiritual—every detail was taken care of. Highly recommended!",
    author: "Fatima Jafri, Toronto",
  },
  {
    text:
      "From transport to accommodation, everything was organized with care and professionalism. I felt safe and spiritually connected throughout.",
    author: "Ali Raza Mehdi, London",
  },
  {
    text:
      "Traveling with NHM was like being with family. They understood our values, respected our time for ibadah, and made the whole experience unforgettable.",
    author: "Zahra Hussain, Sydney",
  },
];
---

<section
  class="relative min-h-150 bg-[url('/src/images/services/testimonials-bg.jpg')] bg-cover bg-center flex flex-col items-center justify-center px-6 py-16 text-white">
  <!-- Optional dark overlay -->
  <div class="absolute inset-0 bg-black/40"></div>

  <!-- Content -->
  <div class="relative z-10 w-full flex flex-col items-center">
    <h2 class="mb-10 text-center text-5xl font-normal italic drop-shadow-md max-md:text-4xl">
      What Our <span class="font-bold">Clients Say</span>
    </h2>

    <div class="flex gap-8 max-w-300 justify-center flex-wrap">
      {testimonials.map((t) => (
        <TestimonialCard {...t} />
      ))}
    </div>
  </div>
</section>