---
const {
    href,
    text
} = Astro.props
---

<li>
    <a href={href}
    class="relative text-base font-medium text-gray-100
            after:absolute after:-bottom-1 after:left-0
            after:h-0.5 after:w-0
            after:bg-(--color-accent)
            after:transition-all after:duration-200
            hover:after:w-full
            drop-shadow-[0_8px_30px_rgba(0,0,0,0.8)]"
    >
        <slot/>
    </a>
</li>