<style>
:root {
  --bg: #032b22;
}
</style>

<footer class="text-center text-white text-base py-12 bg-(--bg)">
    <div class="container">
    <p>© 2023 Iran Travel Experiences. All rights reserved.</p>
    </div>
</footer>