---
import CityCard from "./CityCard.astro";

const { cities, variant = "light" } = Astro.props;

const bgClass =
  variant === "light" ? "bg-(--bg-light)" : "bg-(--bg-dark)";
---

<style>
:root {
    --bg-light: #fdf6ea;
    --bg-dark: #e2c297;
}
</style>

<div
  class={`${bgClass} px-6 py-12 -mx-6 lg:py-10 md:px-5 md:py-9 sm:px-4 sm:py-8`}
>
  <div
    class="max-w-300 mx-auto grid grid-cols-1 gap-x-8 gap-y-10 lg:gap-x-6 lg:grid-cols-2 md:gap-y-9"
  >
    <!-- Column 1 -->
    <div class="flex flex-col gap-8 md:gap-7">
      {cities.slice(0, 2).map((city:Object) => (
        <CityCard {...city} />
      ))}
    </div>

    <!-- Column 2 -->
    <div class="flex flex-col gap-8 md:gap-7">
      {cities.slice(2, 4).map((city:Object) => (
        <CityCard {...city} />
      ))}
    </div>
  </div>
</div>