/* ---------------------------------
   RESPONSIVE RULES
----------------------------------*/
@media (max-width: 900px) {
  .nav-links {
    display: none;
  }

  .intro-container {
    column-gap: 40px;
  }

  .fd-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .experiences-row {
    grid-template-columns: repeat(2, 1fr);
  }

  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 650px) {
  .hero {
    min-height: 85vh;
  }

  .intro-nhm {
    padding: 40px 0;
  }

  .intro-container {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }

  .intro-img {
    height: 200px;
  }

  .fd-grid,
  .experiences-row,
  .services-grid {
    grid-template-columns: 1fr;
  }

  .services-section {
    padding: 60px 0;
  }
}
