---
import { Image } from 'astro:assets';
// import '../styles/global.css'
import '../styles/experiences.css'
import ExperienceList from '../components/experiences/ExperienceList.astro';
import Footer from '../components/experiences/Footer.astro';
import Description from '../components/experiences/Description.astro';
import Hero from '../components/experiences/Hero.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>NHM Travels</title>
		<!-- Google Fonts -->
		<link
		href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&family=Montserrat:wght@300;400;500;600&display=swap"
		rel="stylesheet"
		/>
	</head>
	  <body>
      <Hero />
      <Description />
      <ExperienceList />
      <Footer />
  </body>
</html>
