---
// import '../styles/global.css'
import '../styles/index.css'
import Hero from '../components/index/Hero.astro';
import Intro from '../components/index/Intro.astro';
import Destinations from '../components/index/Destinations.astro';
import Experiences from '../components/index/Experiences.astro';
import Services from '../components/index/Services.astro';
import Cta from '../components/index/Cta.astro';
import Footer from '../components/index/Footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>NHM Travels</title>
		<!-- Google Fonts -->
		<link
		href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&family=Montserrat:wght@300;400;500;600&display=swap"
		rel="stylesheet"
		/>
	</head>
	<body>
		<Hero />
		<main>
			<Intro />
			<Destinations />
			<Experiences />
			<Services />
			<Cta />
		</main>
		<Footer />
	</body>
</html>
