---
import Button from '../shared/Button.astro';
---

<section class="relative text-white bg-center bg-cover" style="background-image: url('/src/images/index/hero.jpg');">
    <div class="py-18 bg-linear-to-br from-black/70 to-black/45">
    <div class="container text-center">
        <h2 class="font-heading text-3xl mb-3">Book your next trip with us</h2>
        <p class="text-base mx-auto my-7 text-gray-100 max-w-xl">
        Share your travel dates and interests, and our specialists will
        design a proposal tailored to you within 48 hours.
        </p>
        <Button variant="primary">Start Planning</Button>
    </div>
    </div>
</section>