---
import ServiceCard from "./ServiceCard.astro"
import Service_1 from "../../images/index/service-1.jpg"
import Service_2 from "../../images/index/service-2.jpg"
import Service_3 from "../../images/index/service-3.jpg"

const services = [
  {
    img: Service_1,
    alt: "General Services",
    title: "General Services",
    subtitle: "Smooth, Custom services",
    items: [
      "Meet and greet",
      "Multilingual Staff",
      "Hotel Bookings",
      "Tourism",
      "Transportation"
    ]
  },
  {
    img: Service_2,
    alt: "Specialized Package",
    title: "Specialized Package",
    subtitle: "Tailored to your purposes",
    items: [
      "Nikah ceremonies",
      "Honeymoon",
      "Medical Tourism",
      "Company Registration",
      "Property Services"
    ]
  },
  {
    img: Service_3,
    alt: "Customized Package",
    title: "Customized Package",
    subtitle: "Smooth and comfortable",
    items: [
      "Airport transfers and transportation",
      "Ticketing and Visa services",
      "Atraf Ziyarah",
      "Transportation"
    ]
  }
];
---

<section
  id="services"
  class="bg-[#5a422f] py-20 transition-soft"
>
  <div class="container">
    <!-- Header -->
    <header class="mb-12 text-center">
      <h2 class="font-heading text-4xl font-bold text-white md:text-[4rem]">
        Our Services
      </h2>
    </header>

    <!-- Grid -->
    <div class="grid gap-12 sm:grid-cols-2 lg:grid-cols-3 justify-center">
      {services.map((service) => (
        <ServiceCard {...service} />
      ))}
    </div>
  </div>
</section>
